In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv("C:/Users/MANEET KAUR/Desktop/Car details v3.csv")

In [3]:
data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [5]:
data.isna().sum()/data.shape[0]*100

name             0.000000
year             0.000000
selling_price    0.000000
km_driven        0.000000
fuel             0.000000
seller_type      0.000000
transmission     0.000000
owner            0.000000
mileage          2.718996
engine           2.718996
max_power        2.645177
torque           2.731299
seats            2.718996
dtype: float64

In [6]:
import math

for column in data:
    if data[column].isnull().any():
        if data[column].dtypes==object:
            data[column].fillna(data[column].mode()[0], inplace=True)
        if data[column].dtypes==float or data[column].dtypes==int:
            data[column].fillna(math.floor(data[column].mean()), inplace=True)

In [7]:
data.isna().sum().sum()

0

In [8]:
data.shape

(8128, 13)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        8128 non-null   object
 9   engine         8128 non-null   object
 10  max_power      8128 non-null   object
 11  torque         8128 non-null   object
 12  seats          8128 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [10]:
data.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power', 'torque',
       'seats'],
      dtype='object')

In [11]:
data.torque=data.torque.str.extract('(\d+)').astype(float)

In [12]:
data.max_power=data.max_power.str.extract('(\d+)').astype(float)

In [13]:
data['max_power'].fillna(math.floor(data['max_power'].mean()), inplace=True)

In [14]:
data.engine=data.engine.str.extract('(\d+)').astype(int)

In [15]:
data.mileage=data.mileage.str.extract('(\d+)').astype(float)

In [16]:
data.transmission.value_counts()

Manual       7078
Automatic    1050
Name: transmission, dtype: int64

In [17]:
data.transmission=data.transmission.map({'Manual':0, 'Automatic':1})

In [18]:
data.seller_type.value_counts()

Individual          6766
Dealer              1126
Trustmark Dealer     236
Name: seller_type, dtype: int64

In [19]:
data.seller_type=data.seller_type.map({'Individual':0, 'Dealer':1, 'Trustmark Dealer':2})

In [20]:
data.fuel.value_counts()

Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: fuel, dtype: int64

In [21]:
data.fuel=data.fuel.map({'Diesel':0, 'Petrol':1, 'CNG':2, 'LPG':3})

In [22]:
data.owner.unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], dtype=object)

In [23]:
data.owner=data.owner.map({'First Owner':1, 'Second Owner':2, 'Third Owner':3,'Fourth & Above Owner':4, 'Test Drive Car':0})

In [55]:
data.seats.astype(int)

0       5
1       5
2       5
3       5
4       5
       ..
8123    5
8124    5
8125    5
8126    5
8127    5
Name: seats, Length: 8128, dtype: int32

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   int64
 5   seller_type    8128 non-null   int64
 6   transmission   8128 non-null   int64
 7   owner          8128 non-null   int64
 8   mileage        8128 non-null   float64
 9   engine         8128 non-null   int32
 10  max_power      8128 non-null   float64
 11  torque         8128 non-null   float64
 12  seats          8128 non-null   float64
dtypes: float64(4), int32(1), int64(7), object(1)
memory usage: 793.9+ KB

In [28]:
data.isna().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
torque           0
seats            0
dtype: int64

In [32]:
train = data.drop(columns='name')

In [33]:
train.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,2014,450000,145500,0,0,0,1,23.0,1248,74.0,190.0,5.0
1,2014,370000,120000,0,0,0,2,21.0,1498,103.0,250.0,5.0
2,2006,158000,140000,1,0,0,3,17.0,1497,78.0,12.0,5.0
3,2010,225000,127000,0,0,0,1,23.0,1396,90.0,22.0,5.0
4,2007,130000,120000,1,0,0,1,16.0,1298,88.0,11.0,5.0

In [34]:
train.shape

(8128, 12)

In [35]:
X= train.drop(columns='selling_price')
Y= train['selling_price']
from sklearn.model_selection import train_test_split
X_test,X_train,Y_test,Y_train = train_test_split(X,Y,test_size=0.2,random_state=39)

In [36]:
# from sklearn.linear_model import LinearRegression
# lr_model = LinearRegression()
# lr_model.fit(X_train,Y_train)
# lr_prediction = lr_model.predict(X_test)

In [37]:
# lr_model.score(X_test,Y_test)

0.6625272248588647

In [38]:
# from sklearn.metrics import mean_squared_error
# RMSE = np.sqrt(mean_squared_error(Y_test,lr_prediction))
# RMSE

In [39]:
# from sklearn.tree import DecisionTreeRegressor
# dtr_model = DecisionTreeRegressor()
# dtr_model.fit(X_train,Y_train)
# dtr_prediction = dtr_model.predict(X_test)

In [40]:
# dtr_model.score(X_test,Y_test)

0.8870217141165807

In [41]:
# from sklearn.metrics import mean_squared_error
# RMSE = np.sqrt(mean_squared_error(Y_test,dtr_prediction))
# RMSE

In [42]:
from sklearn.ensemble import RandomForestRegressor
rft_model = RandomForestRegressor()
rft_model.fit(X_train,Y_train)
rft_prediction=rft_model.predict(X_test)

In [43]:
rft_model.score(X_test,Y_test)

0.9328704176095189

In [2]:
# from sklearn.metrics import mean_squared_error
# RMSE = np.sqrt(mean_squared_error(Y_test,rft_prediction))
# RMSE

In [45]:
# from sklearn.svm import SVR
# svr_model= SVR(C=10)
# svr_model.fit(X_train, Y_train)
# svr_predictions = svr_model.predict(X_test)

In [46]:
# svr_model.score(X_test,Y_test)

-0.04810654567057093

In [47]:
# from sklearn.metrics import mean_squared_error
# RMSE = np.sqrt(mean_squared_error(Y_test,svr_predictions))
# RMSE

In [48]:
#pip install xgboost

In [49]:
# from xgboost import XGBRegressor
# bt_model = XGBRegressor()
# bt_model.fit(X_train,Y_train)
# bt_prediction= bt_model.predict(X_test)

In [50]:
# bt_model.score(X_test,Y_test)

0.9357830036162458

In [51]:
# from sklearn.metrics import mean_squared_error
# RMSE = np.sqrt(mean_squared_error(Y_test,bt_prediction))
# RMSE

In [52]:
import pickle

In [54]:
pickle.dump(rft_model, open("Random_Forest_Regression.pkl", "wb"))